
<% include header %>
<div class="v-header container">

    <div class="fullscreen-video-wrap">
        <!-- chrome will not autoplay unless muted="true" -->
        <video src="/slowmoheadla.mov" autoplay="true" loop="true" muted="true"></video>
    </div>
    <div class="header-overlay">
        <!-- empty div-->
    </div>

    <div class="container main">
        <h1><i class="fa fa-facebook-square" aria-hidden="true"></i> Friend Finder</h1>
        <hr>
        <h2>Answer a few basic questions. </h2>
        <h2>Then find the friend with the greatest compatibility!</h2>
        <br>

        <div class="survey">
          <a href="/survey"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Go to Survey</h4></button></a>
        </div>
      

        <div class="api">
            <p><a href="/api/friends">API Friends List</a></p>
        </div>
            

    </div>
  

  </div>
  <% include footer %>